@import url('https://fonts.googleapi s.com/css?family-Poppins:wght@400;600 &display-swap');
.container {
  background-image: url('abstract-red-light-trail-on-blue-background.jpg');
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  display: flex ;
  align-items: center;
  justify-content: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #1c1c1c;
  font-family: 'poppins', Sans-Serif;
  margin: 0;
  
}

.id-card {
  width: 90%;
  max-width: 350px;
  color: #fff;
  text-align: center;
  padding: 50px,35px;
  border: 1px solid rgba(225, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
}

.id-card .content {
  padding: 40px;
  text-align: center;
}

.id-card .profile-pic {
  width: 100px;
  height: 100px;
  transform: translate(85%,0%);
  border-radius: 50%;
  background-image: url('IMG_20240908_075133_073.jpg');
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 0 0 20px rgba(76, 104, 215, 0.5), 0 0 30px rgba(107, 91, 149, 0.5 );
}

.id-card .info h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 2px;
  color: #ffffff;
  text-shadow: 0 0 10px rgba(76, 104, 215, 0.5), 0 0 20px rgba(107, 91, 149, 0.5);
}

.id-card .info h4 {
  font-size: 18px;
  margin-top: 2px;
  color: #ffffff;
}

.id-card .info p {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 30px;
}

.id-card .links {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.id-card .links a {
  color: #bdc3c7;
  font-size: 18px;
  transition: color 0.3s ease;
  text-shadow: 0 0 10px rgba(76, 104, 215, 0.5), 0 0 20px rgba(107, 91, 149, 0.5);
}

.id-card .info p2{
  font-palette: 14px;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 2px;
  color: #6b5b95;
  text-shadow: 0 0 10px rgba(76, 104, 215, 0.5), 0 0 20px rgba(107, 91, 149, 0.5);
}
.id-card .links a:hover {
  color: #4c68d7;
}

  